.gradle/
build/
**/build/

local.properties
*.iml

.idea/
*.ipr
*.iws

*.class
*.jar
*.war
*.ear

bin/
gen/
out/

*.log
*.hprof
captures/
output.json

.DS_Store
Thumbs.db

.cxx/
.externalNativeBuild/

*.kotlin_module
*.cache

